#header {
	min-height: 40px;
	width: 100%;
	padding: 5px;
	position: fixed;
	z-index: 1;
	background-color: #0d0cb5;
	font-family: 'Lora',"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.25rem;
}

#header a {
	padding: 5px;
	border-radius: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 50%, #ffffff 50%, #ffffff 100%);
	background-size: 200% 100%;
	transition: background-position 0.25s linear,
							color 0.25s linear;
}
#header a:hover,
#header a:focus {
	background-position: -100%;
	color: #0d0cb5;
}

#header > a {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'Lobster', cursive, sans-serif;
}

#header button {
	padding: 5px;
	border: 1px solid #181a1b;
	border-radius: 2px;
	background-image: linear-gradient(to right, #181a1b 0%,#181a1b 50%, #ffffff 50%, #ffffff 100%);
	background-size: 200% 100%;
	transition: background-position 0.25s linear,
							color 0.25s linear;
	color: #fff;
	font-family: inherit;
	font-size: inherit;
}
#header button:hover,
#header button:focus {
	background-position: -100%;
	color: #181a1b;
}

#header ul li {
	padding: 5px 10px;
}
#header ul li button {
	cursor: pointer;
}

@media screen and (max-width: 750px) {
	#header #burger-menu {
		height: 100%;
		width: 20px;
		margin: 5px 0px;
		float: right;
		cursor: pointer;
	}
	#header #burger-menu .burger-bun {
		height: 3px;
		width: 100%;
		margin: 2px 0px;
		border-radius: 2px;
		background-color: #fff;
	}
	#header #burger-menu .burger-bun:nth-child(1),
	#header #burger-menu .burger-bun:nth-child(3) {
		transition: translate 0.25s linear 0.25s,
								rotate 0.25s linear;
	}
	#header #burger-menu .burger-bun:nth-child(2) {
		transform-origin: left;
		transition: scale 0.25s linear 0.5s;
	}
	
	#header ul {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 100vh;
		width: 100vw;
		padding: 10px 5px;
		padding-bottom: 100px; /* footer */
		position: absolute;
		top: 100%;
		left: 100%;
		background-color: rgba(13, 12, 181, 0.6);
		text-align: center;
		transition: left 1s ease-in-out 0s;
	}
	#header ul li {
		font-size: 20px;
	}
	#header #burger-menu.expand {
		margin-top: 6px;
	}
	#header #burger-menu.expand .burger-bun {
		margin: 0;
	}
	#header #burger-menu.expand .burger-bun:nth-child(1) {
		translate: 0 100%;
		rotate: 45deg;
		transition: translate 0.25s linear 0.25s,
								rotate 0.25s linear 0.5s;
	}
	#header #burger-menu.expand .burger-bun:nth-child(2) {
		scale: 0;
		transition: scale 0.25s linear;
	}
	#header #burger-menu.expand .burger-bun:nth-child(3) {
		translate: 0 -100%;
		rotate: -45deg;
		transition: translate 0.25s linear 0.25s,
								rotate 0.25s linear 0.5s;
	}
	#header #burger-menu.expand ~ ul {
		left: 0;
	}
}

@media screen and (min-width: 750px) {
	#header #burger-menu { display: none; }

	#header ul {
		text-align: right;
	}
	#header ul li {
		display: inline-block;
	}
}
