#main .team-member {
	width: 150px;
}

#main .image {
	height: 150px;
	width: 150px;
	position: relative;
	overflow: hidden;
	background-image: url('../Images/Team/blob-cat.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#main .image:hover .quote,
#main .image:focus .quote {
	top: calc(100% - 50px);
}
#main .image .quote {
	min-height: 50px;
	width: 100%;
	position: absolute;
	top: 100%;
	cursor: default;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.9);
	transition: top 0.5s linear;
}
#main .image .quote span {
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
#main .team-member > span {
	display: inline-block;
	width: 100%;
	text-align: center;
}
