#main h2 {
	display: block;
	width: 100%;
	padding-top: 5%;
	text-align: center;
}

#main #team-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

#main #team-wrapper .team-member {
	display: block;
	width: 250px;
	padding: 15px;
	margin: 20px;
	background-color: #dee1ec;
	color: #181a1b;
	cursor: default;
	transition: box-shadow 0.2s ease-in-out;
}
#main #team-wrapper .team-member:hover {
	box-shadow: 0px 1px 5px 2px #ffffff;
}

#main #team-wrapper .team-member .member-intro {
	width: 250px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
#main #team-wrapper .team-member .member-img {
	display: block;
	height: 200px;
	width: 200px;
	margin: 5px 0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid #181a1b;
	overflow: hidden;
	background-size: contain;
	background-position: center;
}
#main #team-wrapper .team-member .member-img .member-quote {
	display: block;
	height: 50px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -50px;
	background-color: rgba(48, 52, 54, 0.7);
	text-align: center;
	color: #fff;
	transition: bottom 0.2s linear;
}
#main #team-wrapper .team-member .member-img:hover .member-quote {
	bottom: 0;
}
#main #team-wrapper .team-member .member-img .member-quote > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main #team-wrapper .team-member .member-social {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 25px;
	width: 200px;
	margin: 2px 0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
#main #team-wrapper .team-member .member-social .social-media {
	height: 25px;
	width: 25px;
	padding: 2px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 0.65s ease-in-out;
}
#main #team-wrapper .team-member .member-social .social-media:hover,
#main #team-wrapper .team-member .member-social .social-media:focus-within {
	transform: rotate(360deg);
}
#main #team-wrapper .team-member .member-social .social-media.facebook {
	background-image: url("../Images/Icons/SocialMedia/facebook.png");
}
#main #team-wrapper .team-member .member-social .social-media.instagram {
	background-image: url("../Images/Icons/SocialMedia/instagram.png");
}
#main #team-wrapper .team-member .member-social .social-media.twitter {
	background-image: url("../Images/Icons/SocialMedia/twitter.png");
}
#main #team-wrapper .team-member .member-social .social-media.linkedin {
	background-image: url("../Images/Icons/SocialMedia/linkedin.png");
}

#main #team-wrapper .team-member .member-social .social-media > a {
	display: block;
	height: 100%;
	width: 100%;
}
