/* ============================================================================================= */
/* Slideshow */
/* ============================================================================================= */

#main #slideshow {
	height: calc(100vh - 40px);
	width: 100%;
	position: relative;
	background-color: #303436;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#main #slideshow #slideshow-carousel {
	height: 100%;
	width: 100%;
	position: relative;
}

#main #slideshow #slideshow-carousel .slideshow-image {
	display: block;
	height: calc(100% - 45px);
	width: 100%;
	position: absolute;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition: right 2s ease-in-out, opacity 0.2s linear;
}
#main #slideshow #slideshow-carousel .slideshow-image:hover,
#main #slideshow #slideshow-carousel .slideshow-image:focus {
	opacity: 0.5;
	cursor: pointer;
}

#main #slideshow #slideshow-carousel .slideshow-image > a {
	display: block;
	padding: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #fff;
	border-radius: 3px;
	background-size: 200% 100%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 50%, #ffffff 50%, #ffffff 100%);
	opacity: 0;
	font-size: 1.7rem;
	transition: background-position 0.25s linear,
							color 0.25s linear,
							opacity 0.2s linear;
}
#main #slideshow #slideshow-carousel .slideshow-image:hover > a,
#main #slideshow #slideshow-carousel .slideshow-image:focus-within > a {
	opacity: 1;
}
#main #slideshow #slideshow-carousel .slideshow-image > a:hover,
#main #slideshow #slideshow-carousel .slideshow-image > a:focus {
	background-position: -100%;
	color: #181a1b;
}

#main #slideshow .slideshow-arrow {
	display: block;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 50%;
	border-radius: 1px;
	/* background-color: white; */
	background-image: url("../Images/Icons/arrow-inverted-colors.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
#main #slideshow .slideshow-arrow.left {
	left: 10px;	
	transform: rotate(180deg);
}
#main #slideshow .slideshow-arrow.right {
	right: 10px;
}

#main #slideshow #slider {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	bottom: 15px;
}

#main #slideshow #slider .circle {
	display: block;
	height: 10px;
	width: 10px;
	margin: 2px;
	position: relative;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}
#main #slideshow #slider .fill::after {
	content: "";
	display: block;
	height: 65%;
	width: 65%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #181a1b;
}

#main #slideshow #view {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	color:#fff;
}

/* ============================================================================================= */
/* Description(s) */
/* ============================================================================================= */
#main .description {
	width: 100%;
	padding: 20px 10px;
	text-align: center;
}
#main .description:nth-child(2) {
	background-color: #181a1b;
}
#main .description:nth-child(3) {
	background-color: #303436;
}

#main .description h1 {
	margin-bottom: 5px;
}
#main .description h2 {
	margin: 7px 0;
}

#main .description p {
	margin: 5px;
	font-size: 1.1rem;
}

#main .description a {
	display: inline-block;
	padding: 1px;
	border-radius: 1px;
	background-size: 200% 100%;
	transition: background-position 0.25s linear,
							color 0.25s linear;
}

#main .description:nth-child(2) a {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 50%, #ffffff 50%, #ffffff 100%);
}
#main .description:nth-child(2) a:hover,
#main .description:nth-child(2) a:focus {
	background-position: -100%;
	color: #181a1b;
}
#main .description:nth-child(3) a {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 50%, #ffffff 50%, #ffffff 100%);
}
#main .description:nth-child(3) a:hover,
#main .description:nth-child(3) a:focus {
	background-position: -100%;
	color: #303436;
}

/* ============================================================================================= */
/* Offers */
/* ============================================================================================= */
#main #offers {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 10px 5px;
	background-color: #7d89b5;
	color: #181a1b;
}
#main #offers .offer {
	display: inline-block;
	height: 350px;
	width: 30%;
	max-width: 350px;
	margin: 1%;
	position: relative;
	background-color: #303436;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease-in-out;
}



#main #offers .offer:hover,
#main #offers .offer:focus-within {
	background-size: 150%;
}

#main #offers .offer .overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: center;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	background-color: rgba(24, 26, 27, 0.5);
	color:#fff;
	transition: opacity 0.2s linear;
}
#main #offers .offer:hover > .overlay,
#main #offers .offer:focus-within > .overlay {
	opacity: 1;
	pointer-events: auto;
}
#main #offers .offer .overlay > a {
	display: inline-block;
	padding: 7px;
	position: relative;
	top: 50%;
	left: 50%;
	border: 1px solid #fff;
	transform: translate(-50%, -50%);
	background-image: linear-gradient(to right, rgba(24, 26, 27, 0.5) 0%,rgba(24, 26, 27, 0.5) 50%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 100%);
	background-size: 200% 100%;
	transition: background-position 0.2s linear,
							color 0.2s linear;
}
#main #offers .offer .overlay > a:hover,
#main #offers .offer .overlay > a:focus {
	background-position: -100%;
	color: #181a1b;
}

#main #offers .offer .sticker {
	display: inline-block;
	height: 50px;
	width: 50px;
	padding: 0;
	margin: 0;
	border-radius: 50%;
	position: absolute;
	bottom: -15px;
	right: -15px;
	rotate: -30deg;
	background-color: #c82121;
	color: #fff;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
}

@media screen and (max-width: 750px) {
	#main #offers {
		flex-direction: column;
	}
	#main #offers .offer {
		width: 90%;
		margin: 15px;
	}
}
