#main {
	text-align: center;
	color: #ffffff;
	position: relative;
}

#main h1 {
	margin-top: 3%;
}

#main #user-message {
	display: block;
	height: 35px;
	width: 80%;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	background-color: rgba(48, 52, 54, 0.5);
	color: white;
	text-align: center;
	line-height: 35px;
	vertical-align: middle;
}
#main #user-message.success {
	background-color: rgba(57, 218, 138, 0.5);
}
#main #user-message.error {
	background-color: rgba(200, 33, 33, 0.5);
}

#main form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 250px;
	width: 80%;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	background-color: rgba(254, 173, 66, 0.65);
}

/* #main label {
	color: #181a1b;
	position: absolute;
	left: 20px;
	transition: top 0.2s linear;
}
#main label:nth-child(2) {
	top: 40px;
}
#main label:nth-child(4) {
	top: 100px;
}
#main input:hover + label,
#main input:focus + label {
	top: 65px;
}
#main input:hover + label,
#main input:focus + label {
	top: 125px;
} */

#main input[type="text"],
#main input[type="password"] {
	height: 25px;
	width: 100%;
	padding: 2px;
	border: none;
	border-radius: 2px;
	box-shadow: 2px 2px #181a1b;
	font-family: inherit;
}

#main label {
	display: inline-block;
	height: 25px;
	width: 100%;
	text-align: left;
	pointer-events: none;
	font-size: 1.2rem;
}

#main form > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#main form input[type="button"],
#main form input[type="submit"] {
	display: inline-block;
	width: 48%;
	padding: 2px;
	margin-top: 15px;
	margin-bottom: 7px;
	border: 1px solid #181a1b;
	border-radius: 2px;
	box-shadow: 2px 2px #181a1b;
	cursor: pointer;
	background-image: linear-gradient(to right, #c82121 0%,#c82121 50%, #39da8a 50%, #39da8a 100%);
	background-size: 200% 100%;
	font-size: 1.1rem;
	color: #fff;
	transition: background-position 0.25s linear, color 0.25s linear;
}
#main form input[type="button"]:hover,
#main form input[type="submit"]:hover,
#main form input[type="button"]:focus,
#main form input[type="submit"]:focus {
	background-position: -100%;
	color: #181a1b;
}
