#main h2 {
	display: block;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 3%;
	text-align: center;
}

#main .partner {
	padding: 10px;
}

#main .partner h3  {
	display: block;
	width: 100%;
	margin: 2px 0;
	text-align: center;
}

#main .partner > div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
#main .partner > div img {
	height: 100px;
	width: 100px;
	margin: 7px;
}

@media screen and (max-width: 600px) {
	#main .partner > div {
		flex-direction: column;
	}	
}
